# Eclipse
.classpath
.project
.settings/
.metadata/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/
tomcat*/
*.orig
*.log
output*/
build/cmis-server/files/*
.vscode/
external/

# Dependency directory
node_modules
node_modules/*
node_modules/*/**